<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul> 
      <h2>Navegación Con Ruta</h2>     
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/contacto">Contacto</a></li>      
      <br>
      <h2>Navegación Sin Ruta</h2>
      <li><a href="/prueba">Prueba</a></li> 
    </ul>
  </nav>
  {{{body}}}
</body>

</html>